<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Свяжитесь с 
        <a target="_blank" class="font-weight-bold" href="https://gitlab.com/SgAkErRu">разработчиком</a>
    </span>
    и напишите свои пожелания.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
